<a class="Logo-link isTextCentered" href="{{ site.baseurl }}">
  <img class='Logo-image' src="{{ "/image/water_footprint_logo.png" | prepend: site.baseurl }}" alt='{{ page.list_title | escape }}'>
</a>

<h1 class="Header isTextCentered">{{ page.list_title | escape }}</h1>

<div class="TopBar">
  <a class="TopBar-link" href="/">{{ page.list_english_link | escape }}</a>
   &nbsp;&nbsp;&nbsp;
  <a class="TopBar-link" href="/">{{ page.list_help_link | escape }}</a>
</div>

<div class="Search">
  <img class="Search-icon" src="{{ "/image/search.png" | prepend: site.baseurl }}" alt="{{ page.list_search_input_placeholder | escape }}">
  <input class="Search-input" type="text" placeholder="{{ page.list_search_input_placeholder | escape }}">
  <img class="Search-clearIcon isVisibilityHidden" src="image/clear.png" alt="{{ page.list_clear_button_alt_text | escape }}">
</div>


<div class="List-itemHeader">
  <div class="List-itemName">&nbsp;</div>
  <div><b>{{ page.list_units_header | escape }}</b></div>
</div>

{% include lists/{{ page.language }}.html %}

<div class="Footer-filler"></div>