{% include header.html %}

<div class="Search">
  <img class="Search-icon" src="{{ "/image/search.png" | prepend: site.baseurl }}" alt="{{ page.list_search_input_placeholder | escape }}">
  <input class="Search-input" type="text" placeholder="{{ page.list_search_input_placeholder | escape }}">
  <img class="Search-clearIcon isVisibilityHidden" src="{{ "/image/clear.png" | prepend: site.baseurl }}" alt="{{ page.list_clear_button_alt_text | escape }}">
</div>


<div class="List-itemHeader">
  <div class="List-itemName">&nbsp;</div>
  <div><b>{{ page.list_units_header | escape }}</b></div>
</div>

{% include lists/{{ page.language }}.html %}

<div class="Footer-filler"></div>