.layout-fixed {
  @media (min-width: $fixedBreakpoint) {
    width: $fixedBreakpoint;
    margin: 0 auto;
  }
}

.layout-paddingHorizontal {
  padding-left: $iiMarginMini;
  padding-right: $iiMarginMini;
}