// Horizontal alignment
// -----------------

.isTextCentered { text-align: center; }

// Visiblity
// -----------------

.isHidden { display: none; }
.isVisibilityHidden { visibility: hidden; }



// Max width
// -----------------

.isMax200PxWide { max-width: 200px; }