// Gray paletter
$shade10:   #000000;
$shade20:   #102020;
$shade30:   #304040;
$shade40:   #506060;
$shade50:   #718181;
$shade60:   #8d9d9d;
$shade70:   #a5b5b5;
$shade80:   #becece;
$shade90:   #e5f3f3;
$shade97:   #fdfdfd;
$shade100:  #ffffff;

$linkColor: $shade60;

// Responsive Breakpoints
$fixedBreakpoint: 400px;

// Margins
$iiMarginNano:    2px;
$iiMarginMini:    6px;
$iiMarginSmall:   10px;
$iiMarginNormal:  15px;
$iiMarginLarge:   20px;
$iiMargin2x:      30px;


// Module related
$searchIconSize:  30px;