/*

  Displays a list of products with two columns: name and water footprint value

*/

.List-item, .List-itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $iiMarginNormal;
  border-top: 1px solid $shade100;
}

.List-itemName {
  padding-right: $iiMarginSmall;
}

.List-item.isHidden {
  display: none;
}