.Search {
  display: flex;
  align-items: center;
  padding: $iiMarginSmall $iiMarginNormal;
  border-top: 1px solid $shade100;
}


.Search-icon {
  width: $searchIconSize;
  height: $searchIconSize;
}

.Search-clearIcon {
  width: $searchIconSize;
  height: $searchIconSize;
}

.Search-input {
  color: $shade100;
  background-color: $shade10;
  padding: $iiMarginSmall;
  border: none;
  flex: 1;
}