<div class="List-item" data-synonyms="">
  <div class="List-itemName">Abaca fibre</div>
  <div>22654</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Agave fibres</div>
  <div>6549</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Almonds, shelled or peeled</div>
  <div>16095</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Almonds, with shell</div>
  <div>8047</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Anise</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Apple juice</div>
  <div>1141</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Apples, dried</div>
  <div>6847</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Apples, fresh</div>
  <div>822</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Apricots</div>
  <div>1287</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Areca nuts</div>
  <div>11165</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Artichokes</div>
  <div>818</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Asparagus</div>
  <div>2150</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Avocados</div>
  <div>1981</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Badian</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Bananas</div>
  <div>790</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Barley</div>
  <div>1423</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Barley, rolled or flaked grains</div>
  <div>1977</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Beans, dry</div>
  <div>5053</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Beans, green</div>
  <div>561</div>
</div>
<div class="List-item" data-synonyms="Cow meat, steak">
  <div class="List-itemName">Beef</div>
  <div>15415</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Beer</div>
  <div>298</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Blueberries</div>
  <div>845</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Bread (wheat)</div>
  <div>1608</div>
</div>
<div class="List-item" data-synonyms="Horse beans">
  <div class="List-itemName">Broad beans, dry</div>
  <div>2018</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Broccoli</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Brussels sprouts</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Buckwheat</div>
  <div>3142</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Butter</div>
  <div>5553</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cabbages</div>
  <div>280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cane molasses</div>
  <div>527</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cardamoms</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Carobs</div>
  <div>5594</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Carrots</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cashew apple</div>
  <div>3793</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cashew nuts</div>
  <div>14218</div>
</div>
<div class="List-item" data-synonyms="Manioc">
  <div class="List-itemName">Cassava</div>
  <div>564</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cassava flour</div>
  <div>1878</div>
</div>
<div class="List-item" data-synonyms="Manioc">
  <div class="List-itemName">Cassava starch</div>
  <div>2254</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cassava, dried</div>
  <div>1610</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cassava, tapioca</div>
  <div>2818</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Castor oil</div>
  <div>24740</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Castor oil seeds</div>
  <div>9896</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cauliflowers</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cheese</div>
  <div>5060</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cherries</div>
  <div>1604</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Chestnuts</div>
  <div>2750</div>
</div>
<div class="List-item" data-synonyms="Chickpeas">
  <div class="List-itemName">Chick peas</div>
  <div>4177</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Chicken meat</div>
  <div>4325</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Chillies and peppers, dry</div>
  <div>7365</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Chillies and peppers, green</div>
  <div>379</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Chocolate</div>
  <div>17196</div>
</div>
<div class="List-item" data-synonyms="Canella">
  <div class="List-itemName">Cinnamon</div>
  <div>15526</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Clementine</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cloves</div>
  <div>61205</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cocoa beans</div>
  <div>19928</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cocoa butter, fat and oil</div>
  <div>33938</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cocoa paste</div>
  <div>24238</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cocoa powder</div>
  <div>15636</div>
</div>
<div class="List-item" data-synonyms="Coir">
  <div class="List-itemName">Coconut fibre</div>
  <div>2449</div>
</div>
<div class="List-item" data-synonyms="Copra">
  <div class="List-itemName">Coconut oil</div>
  <div>4490</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coconuts, dehusked</div>
  <div>2687</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coconuts, with husk</div>
  <div>1256</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coffee, green</div>
  <div>15897</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coffee, roasted</div>
  <div>18925</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Copra</div>
  <div>2093</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coriander</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Coriander seeds</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cotton fabric</div>
  <div>9982</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cotton lint</div>
  <div>9113</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cotton linters</div>
  <div>2602</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cotton seeds</div>
  <div>1332</div>
</div>
<div class="List-item" data-synonyms="Seed cotton">
  <div class="List-itemName">Cottonseed</div>
  <div>4029</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cottonseed oil</div>
  <div>3957</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cowpeas, dry</div>
  <div>6906</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cranberries</div>
  <div>276</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Cucumbers</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Currants</div>
  <div>499</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Dates</div>
  <div>2277</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Egg</div>
  <div>3265</div>
</div>
<div class="List-item" data-synonyms="Aubergines">
  <div class="List-itemName">Eggplants</div>
  <div>362</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Fennel</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Figs</div>
  <div>3350</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Flax fibre</div>
  <div>3783</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Fructose</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Garlic</div>
  <div>589</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Garlic powder</div>
  <div>2265</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Gherkins</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ginger</div>
  <div>1657</div>
</div>
<div class="List-item" data-synonyms="Chevon, cabrito, capretto">
  <div class="List-itemName">Goat meat</div>
  <div>5521</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Gooseberries</div>
  <div>526</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Gourds</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Grapefruit</div>
  <div>506</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Grapefruit juice</div>
  <div>675</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Grapes</div>
  <div>608</div>
</div>
<div class="List-item" data-synonyms="String">
  <div class="List-itemName">Green beans</div>
  <div>547</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Guavas</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hazelnuts, shelled or peeled</div>
  <div>10515</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hazelnuts, with shell</div>
  <div>5258</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hemp fibre</div>
  <div>2447</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hempseed</div>
  <div>3685</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hop cones</div>
  <div>4065</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Hop extract</div>
  <div>16259</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Jute</div>
  <div>2605</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Kiwi fruit</div>
  <div>514</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Kola nuts</div>
  <div>23391</div>
</div>
<div class="List-item" data-synonyms="Sheep meat, hogget, &lt;&quot;&#39;&gt; mutton">
  <div class="List-itemName">Lamb</div>
  <div>10412</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Leather from beef cattle</div>
  <div>17093</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Lemons</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Lentils</div>
  <div>5874</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Lettuce</div>
  <div>237</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Limes</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Linseed</div>
  <div>5168</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Linseed oil</div>
  <div>9415</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize</div>
  <div>1222</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize flour</div>
  <div>1253</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize groats and meal</div>
  <div>1081</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize oil</div>
  <div>2575</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize starch</div>
  <div>1671</div>
</div>
<div class="List-item" data-synonyms="Corn">
  <div class="List-itemName">Maize, green</div>
  <div>700</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Malt, not roasted</div>
  <div>1950</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Malt, roasted</div>
  <div>2437</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Mandarins</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Mangoes</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Mangosteens</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="Abaca">
  <div class="List-itemName">Manila fibre</div>
  <div>20388</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Melon seed</div>
  <div>5184</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Milk</div>
  <div>1020</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Milk powder</div>
  <div>4745</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Millet</div>
  <div>4478</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Mustard seeds</div>
  <div>2809</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Natural rubber</div>
  <div>13748</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Nectarines</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="Mace">
  <div class="List-itemName">Nutmeg</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Oat groats and meal</div>
  <div>2536</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Oats</div>
  <div>1788</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Oats, rolled or flaked grains</div>
  <div>2416</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Oil palm</div>
  <div>1098</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Okra</div>
  <div>576</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Olive oil</div>
  <div>14726</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Olive oil, virgin</div>
  <div>14431</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Olives</div>
  <div>3015</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Onions, dry</div>
  <div>345</div>
</div>
<div class="List-item" data-synonyms="Shallots">
  <div class="List-itemName">Onions, green</div>
  <div>272</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Orange juice</div>
  <div>1018</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Oranges</div>
  <div>560</div>
</div>
<div class="List-item" data-synonyms="Babassu">
  <div class="List-itemName">Palm kernel oil</div>
  <div>5401</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Palm nuts and kernels</div>
  <div>2868</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Palm oil</div>
  <div>4971</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Papayas</div>
  <div>460</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pasta, dry</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Peaches</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="Groundnuts">
  <div class="List-itemName">Peanut oil</div>
  <div>7529</div>
</div>
<div class="List-item" data-synonyms="Groundnuts">
  <div class="List-itemName">Peanuts in shell</div>
  <div>2782</div>
</div>
<div class="List-item" data-synonyms="Groundnuts">
  <div class="List-itemName">Peanuts shelled</div>
  <div>3974</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pears</div>
  <div>922</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Peas, dry</div>
  <div>1979</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Peas, green</div>
  <div>595</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Peppermint</div>
  <div>288</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pigeon peas</div>
  <div>5494</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pineapple juice</div>
  <div>1273</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pineapples</div>
  <div>255</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pistachios</div>
  <div>11363</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Plantains</div>
  <div>1602</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Plums</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Poppy seeds</div>
  <div>2188</div>
</div>
<div class="List-item" data-synonyms="Pig meat, ham, bacon, sausage">
  <div class="List-itemName">Pork</div>
  <div>5988</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Potato flakes</div>
  <div>1044</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Potato flour and meal</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Potato starch</div>
  <div>1512</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Potatoes</div>
  <div>287</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Potatoes, tapioca</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Pumpkins</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="Grapes, dried">
  <div class="List-itemName">Raisin</div>
  <div>2433</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ramie</div>
  <div>4507</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rape oil</div>
  <div>4301</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rapeseed</div>
  <div>2271</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Raspberries</div>
  <div>413</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rice flour</div>
  <div>2628</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rice groats and meal</div>
  <div>2230</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rice, broken</div>
  <div>2497</div>
</div>
<div class="List-item" data-synonyms="Husked">
  <div class="List-itemName">Rice, brown</div>
  <div>2172</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rice, paddy</div>
  <div>1673</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rye</div>
  <div>1544</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Rye flour</div>
  <div>1930</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Safflower seeds</div>
  <div>7221</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sesame oil</div>
  <div>21793</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sesame seed</div>
  <div>9371</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sisal</div>
  <div>7041</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sisal textile fibres</div>
  <div>7824</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sloes</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sorghum</div>
  <div>3048</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sour cherries</div>
  <div>1411</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Soy milk</div>
  <div>3763</div>
</div>
<div class="List-item" data-synonyms="Soya">
  <div class="List-itemName">Soy sauce</div>
  <div>613</div>
</div>
<div class="List-item" data-synonyms="Soya">
  <div class="List-itemName">Soybean flour and meals</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="Soya">
  <div class="List-itemName">Soybean oil</div>
  <div>4190</div>
</div>
<div class="List-item" data-synonyms="Soya">
  <div class="List-itemName">Soybean paste</div>
  <div>572</div>
</div>
<div class="List-item" data-synonyms="Soya">
  <div class="List-itemName">Soybeans</div>
  <div>2145</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Spinach</div>
  <div>292</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Squash</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Strawberries</div>
  <div>347</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sugar beet</div>
  <div>132</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sugar, raw (beet)</div>
  <div>865</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sugar, raw (cane)</div>
  <div>1666</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sugar, refined</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="Sugar cane">
  <div class="List-itemName">Sugarcane</div>
  <div>210</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sunflower seed oil</div>
  <div>6792</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sunflower seeds</div>
  <div>3366</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Sweet potatoes</div>
  <div>383</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tangerines</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="Coco yam">
  <div class="List-itemName">Taro</div>
  <div>606</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tea, green and black</div>
  <div>8856</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tobacco</div>
  <div>2925</div>
</div>
<div class="List-item" data-synonyms="Soya, soybean curd">
  <div class="List-itemName">Tofu</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato juice</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato juice, concentrated</div>
  <div>1069</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato ketchup</div>
  <div>534</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato paste</div>
  <div>855</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato puree</div>
  <div>713</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomato, dried</div>
  <div>4276</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomatoes</div>
  <div>214</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Tomatoes, peeled</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Turnips</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Vanilla beans</div>
  <div>126505</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Walnuts, shelled or peeled</div>
  <div>9280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Walnuts, with shell</div>
  <div>4918</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Watermelons</div>
  <div>235</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Wheat</div>
  <div>1827</div>
</div>
<div class="List-item" data-synonyms="Pellets">
  <div class="List-itemName">Wheat bran</div>
  <div>2036</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Wheat flour</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Wheat gluten</div>
  <div>4189</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Wheat starch</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="Sparkling">
  <div class="List-itemName">Wine (grape)</div>
  <div>869</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Yams</div>
  <div>343</div>
</div>