<div class="List-item" data-synonyms="">
  <div class="List-itemName">アーティチョーク</div>
  <div>818</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">アーモンド（殻なし）</div>
  <div>16095</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">アーモンド（殻付き）</div>
  <div>8047</div>
</div>
<div class="List-item" data-synonyms="リュウゼツラン">
  <div class="List-itemName">アガベイヌリン</div>
  <div>6549</div>
</div>
<div class="List-item" data-synonyms="アサ,あさ,">
  <div class="List-itemName">麻（繊維）</div>
  <div>2447</div>
</div>
<div class="List-item" data-synonyms="ヘンプシード,アサ,あさ">
  <div class="List-itemName">麻（種子）</div>
  <div>3685</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">アスパラガス</div>
  <div>2150</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">アニス</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="油椰子">
  <div class="List-itemName">アブラヤシ</div>
  <div>1098</div>
</div>
<div class="List-item" data-synonyms="油椰子">
  <div class="List-itemName">アブラヤシ（実および仁）</div>
  <div>2868</div>
</div>
<div class="List-item" data-synonyms="あんず,杏,アンズ">
  <div class="List-itemName">アプリコット</div>
  <div>1287</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">アボカド</div>
  <div>1981</div>
</div>
<div class="List-item" data-synonyms="あま,アマ">
  <div class="List-itemName">亜麻（繊維）</div>
  <div>3783</div>
</div>
<div class="List-item" data-synonyms="あまに,アマニ">
  <div class="List-itemName">亜麻仁</div>
  <div>5168</div>
</div>
<div class="List-item" data-synonyms="あまにあぶら,あまにゆ,アマニアブラ,アマニユ">
  <div class="List-itemName">亜麻仁油</div>
  <div>9415</div>
</div>
<div class="List-item" data-synonyms="いちご,苺">
  <div class="List-itemName">イチゴ</div>
  <div>347</div>
</div>
<div class="List-item" data-synonyms="いちじく,無花果">
  <div class="List-itemName">イチジク</div>
  <div>3350</div>
</div>
<div class="List-item" data-synonyms="キャロブ,イナゴマメ,いなごまめ">
  <div class="List-itemName">いなご豆</div>
  <div>5594</div>
</div>
<div class="List-item" data-synonyms="うり,瓜">
  <div class="List-itemName">ウリ</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="えんどう豆,えんどうまめ,エンドウマメ">
  <div class="List-itemName">エンドウ豆（乾燥）</div>
  <div>1979</div>
</div>
<div class="List-item" data-synonyms="エン麦,えんばく,オート麦,燕麦,エンバク">
  <div class="List-itemName">オーツ麦</div>
  <div>1788</div>
</div>
<div class="List-item" data-synonyms="エン麦,えんばく,オート麦,燕麦,エンバク">
  <div class="List-itemName">オーツ麦フレーク</div>
  <div>2416</div>
</div>
<div class="List-item" data-synonyms="皮むきオーツ麦,剥きオーツ,むきオーツ,エン麦,えんばく,オート麦,燕麦,エンバク">
  <div class="List-itemName">オートミール</div>
  <div>2536</div>
</div>
<div class="List-item" data-synonyms="大葉子,プランタン,おおばこ">
  <div class="List-itemName">オオバコ</div>
  <div>1602</div>
</div>
<div class="List-item" data-synonyms="おおむぎ,オオムギ">
  <div class="List-itemName">大麦</div>
  <div>1423</div>
</div>
<div class="List-item" data-synonyms="おおむぎ,オオムギ">
  <div class="List-itemName">大麦（押し麦又はフレーク）</div>
  <div>1977</div>
</div>
<div class="List-item" data-synonyms="おくら">
  <div class="List-itemName">オクラ</div>
  <div>576</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">オリーブ</div>
  <div>3015</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">オリーブオイル</div>
  <div>14726</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">オリーブオイル（バージン）</div>
  <div>14431</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">オレンジ</div>
  <div>560</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">オレンジジュース</div>
  <div>1018</div>
</div>
<div class="List-item" data-synonyms="にんにく,ニンニク">
  <div class="List-itemName">ガーリックパウダー</div>
  <div>2265</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">カシューアップル</div>
  <div>3793</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">カシューナッツ</div>
  <div>14218</div>
</div>
<div class="List-item" data-synonyms="ジャガイモ澱粉,ポテトスターチ,じゃがいも澱粉">
  <div class="List-itemName">片栗粉</div>
  <div>1512</div>
</div>
<div class="List-item" data-synonyms="フルクトース">
  <div class="List-itemName">果糖</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="カブ">
  <div class="List-itemName">かぶ</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="南瓜,かぼちゃ">
  <div class="List-itemName">カボチャ（スクワッシュ）</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="南瓜,かぼちゃ">
  <div class="List-itemName">カボチャ（パンプキン）</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="真麻,からむし">
  <div class="List-itemName">カラムシ</div>
  <div>4507</div>
</div>
<div class="List-item" data-synonyms="干しぶどう">
  <div class="List-itemName">カランツ</div>
  <div>499</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">カリフラワー</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="ショウズク,小荳蒄">
  <div class="List-itemName">カルダモン</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="キウイフルーツ">
  <div class="List-itemName">キウイ</div>
  <div>514</div>
</div>
<div class="List-item" data-synonyms="キビ">
  <div class="List-itemName">きび</div>
  <div>4478</div>
</div>
<div class="List-item" data-synonyms="きまめ">
  <div class="List-itemName">キマメ</div>
  <div>5494</div>
</div>
<div class="List-item" data-synonyms="カッサバ,マニオク">
  <div class="List-itemName">キャッサバ（乾燥）</div>
  <div>1610</div>
</div>
<div class="List-item" data-synonyms="カッサバ,マニオク,澱粉">
  <div class="List-itemName">キャッサバ（でんぷん）</div>
  <div>2254</div>
</div>
<div class="List-item" data-synonyms="カッサバ,マニオク">
  <div class="List-itemName">キャッサバ（生）</div>
  <div>564</div>
</div>
<div class="List-item" data-synonyms="カッサバ,マニオク">
  <div class="List-itemName">キャッサバ（粉末）</div>
  <div>1878</div>
</div>
<div class="List-item" data-synonyms="きゃべつ">
  <div class="List-itemName">キャベツ</div>
  <div>280</div>
</div>
<div class="List-item" data-synonyms="ビーフ,うし,ウシ,にく,ニク">
  <div class="List-itemName">牛肉</div>
  <div>15415</div>
</div>
<div class="List-item" data-synonyms="ミルク,ぎゅうにゅう">
  <div class="List-itemName">牛乳</div>
  <div>1020</div>
</div>
<div class="List-item" data-synonyms="ぎゅうかわ,ぎゅうひ">
  <div class="List-itemName">牛革</div>
  <div>17093</div>
</div>
<div class="List-item" data-synonyms="きゅうり,胡瓜">
  <div class="List-itemName">キュウリ</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="グアバ">
  <div class="List-itemName">グァバ</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="セイヨウスグリ">
  <div class="List-itemName">グースベリー</div>
  <div>526</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">クランベリー</div>
  <div>276</div>
</div>
<div class="List-item" data-synonyms="くり,クリ">
  <div class="List-itemName">栗</div>
  <div>2750</div>
</div>
<div class="List-item" data-synonyms="エンドウ豆,えんどう豆,エンドウマメ,えんどうまめ">
  <div class="List-itemName">グリーンピース</div>
  <div>595</div>
</div>
<div class="List-item" data-synonyms="くるみ,胡桃">
  <div class="List-itemName">クルミ（殻付き）</div>
  <div>4918</div>
</div>
<div class="List-item" data-synonyms="くるみ,胡桃">
  <div class="List-itemName">クルミ（殻なし）</div>
  <div>9280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">グレープフルーツ</div>
  <div>506</div>
</div>
<div class="List-item" data-synonyms="グレープフルーツ・ジュース">
  <div class="List-itemName">グレープフルーツジュース</div>
  <div>675</div>
</div>
<div class="List-item" data-synonyms="オレンジ,みかん">
  <div class="List-itemName">クレメンタイン</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="丁香">
  <div class="List-itemName">クローブ</div>
  <div>61205</div>
</div>
<div class="List-item" data-synonyms="グリーンコーヒー,まめ,マメ">
  <div class="List-itemName">コーヒー豆（生）</div>
  <div>15897</div>
</div>
<div class="List-item" data-synonyms="まめ,マメ">
  <div class="List-itemName">コーヒー豆（焙煎）</div>
  <div>18925</div>
</div>
<div class="List-item" data-synonyms="コーラ・ナッツ">
  <div class="List-itemName">コーラナッツ</div>
  <div>23391</div>
</div>
<div class="List-item" data-synonyms="とうもろこし油,トウモロコシ油,コーンオイル">
  <div class="List-itemName">コーン油</div>
  <div>2575</div>
</div>
<div class="List-item" data-synonyms="とうもろこし澱粉,トウモロコシ澱粉,でんぷん,デンプン">
  <div class="List-itemName">コーンスターチ</div>
  <div>1671</div>
</div>
<div class="List-item" data-synonyms="とうもろこし粉,トウモロコシ粉">
  <div class="List-itemName">コーンフラワー</div>
  <div>1253</div>
</div>
<div class="List-item" data-synonyms="とうもろこし,トウモロコシ">
  <div class="List-itemName">コーンミール</div>
  <div>1081</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ココアパウダー</div>
  <div>15636</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ココアバター</div>
  <div>33938</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ココアペースト</div>
  <div>24238</div>
</div>
<div class="List-item" data-synonyms="まめ,マメ">
  <div class="List-itemName">ココア豆</div>
  <div>19928</div>
</div>
<div class="List-item" data-synonyms="ココナツ">
  <div class="List-itemName">ココナッツ（皮付き）</div>
  <div>1256</div>
</div>
<div class="List-item" data-synonyms="ココナツ">
  <div class="List-itemName">ココナッツ（皮なし）</div>
  <div>2687</div>
</div>
<div class="List-item" data-synonyms="ココナツ,ココナッツ油">
  <div class="List-itemName">ココナッツオイル</div>
  <div>4490</div>
</div>
<div class="List-item" data-synonyms="ココナツ">
  <div class="List-itemName">ココナッツ繊維</div>
  <div>2449</div>
</div>
<div class="List-item" data-synonyms="ミルクパウダー">
  <div class="List-itemName">粉ミルク</div>
  <div>4745</div>
</div>
<div class="List-item" data-synonyms="ヤシ,ココナッツ">
  <div class="List-itemName">コプラ</div>
  <div>2093</div>
</div>
<div class="List-item" data-synonyms="ゴマ">
  <div class="List-itemName">ごま</div>
  <div>9371</div>
</div>
<div class="List-item" data-synonyms="ゴマ油,胡麻油">
  <div class="List-itemName">ごま油</div>
  <div>21793</div>
</div>
<div class="List-item" data-synonyms="こむぎ,コムギ">
  <div class="List-itemName">小麦</div>
  <div>1827</div>
</div>
<div class="List-item" data-synonyms="こむぎ,コムギ,デンプン,澱粉">
  <div class="List-itemName">小麦（でんぷん）</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="小麦麩質,こむぎ,コムギ">
  <div class="List-itemName">小麦グルテン</div>
  <div>4189</div>
</div>
<div class="List-item" data-synonyms="こむぎ,コムギ">
  <div class="List-itemName">小麦粉</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="こむぎ,コムギ">
  <div class="List-itemName">小麦ペレット</div>
  <div>2036</div>
</div>
<div class="List-item" data-synonyms="くだきせいまい,コメ,こめ">
  <div class="List-itemName">米（砕精米）</div>
  <div>2497</div>
</div>
<div class="List-item" data-synonyms="こめ,コメ">
  <div class="List-itemName">米（玄米）</div>
  <div>2172</div>
</div>
<div class="List-item" data-synonyms="コメ,こめ">
  <div class="List-itemName">米（精製米）</div>
  <div>2230</div>
</div>
<div class="List-item" data-synonyms="こめ,コメ,籾,モミ">
  <div class="List-itemName">米（もみ）</div>
  <div>1673</div>
</div>
<div class="List-item" data-synonyms="こめこ">
  <div class="List-itemName">米粉</div>
  <div>2628</div>
</div>
<div class="List-item" data-synonyms="香菜,パクチー">
  <div class="List-itemName">コリアンダー</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="コリアンダーシード">
  <div class="List-itemName">コリアンダー（種子）</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="サイザルアサ">
  <div class="List-itemName">サイザル麻</div>
  <div>7041</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">サイザル繊維</div>
  <div>7824</div>
</div>
<div class="List-item" data-synonyms="桜桃,チェリー,おうとう">
  <div class="List-itemName">さくらんぼ</div>
  <div>1604</div>
</div>
<div class="List-item" data-synonyms="カウピー,ササゲ">
  <div class="List-itemName">ささげ豆（乾燥）</div>
  <div>6906</div>
</div>
<div class="List-item" data-synonyms="サツマイモ,薩摩イモ,薩摩芋,薩摩いも">
  <div class="List-itemName">さつまいも</div>
  <div>383</div>
</div>
<div class="List-item" data-synonyms="さとう,サトウ,さとうきび">
  <div class="List-itemName">砂糖（原料糖、サトウキビ）</div>
  <div>1666</div>
</div>
<div class="List-item" data-synonyms="さとう,サトウ,ビート,ビーツ,てんさい">
  <div class="List-itemName">砂糖（原料糖、テンサイ）</div>
  <div>865</div>
</div>
<div class="List-item" data-synonyms="さとう,サトウ">
  <div class="List-itemName">砂糖（精製糖）</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="さとうきび">
  <div class="List-itemName">サトウキビ</div>
  <div>210</div>
</div>
<div class="List-item" data-synonyms="さとうきび">
  <div class="List-itemName">サトウキビ（糖蜜）</div>
  <div>527</div>
</div>
<div class="List-item" data-synonyms="サヤインゲン">
  <div class="List-itemName">さやいんげん</div>
  <div>547</div>
</div>
<div class="List-item" data-synonyms="スミノミザクラ,スミミザクラ,酸果桜桃">
  <div class="List-itemName">サワーチェリー</div>
  <div>1411</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">シナモン</div>
  <div>15526</div>
</div>
<div class="List-item" data-synonyms="ジャガイモ">
  <div class="List-itemName">じゃがいも</div>
  <div>287</div>
</div>
<div class="List-item" data-synonyms="ジュート繊維">
  <div class="List-itemName">ジュート</div>
  <div>2605</div>
</div>
<div class="List-item" data-synonyms="ジンジャー,ショウガ">
  <div class="List-itemName">しょうが</div>
  <div>1657</div>
</div>
<div class="List-item" data-synonyms="しょうゆ,しょう油,しょう油">
  <div class="List-itemName">醤油</div>
  <div>613</div>
</div>
<div class="List-item" data-synonyms="西瓜,すいか">
  <div class="List-itemName">スイカ</div>
  <div>235</div>
</div>
<div class="List-item" data-synonyms="八角,はっかく">
  <div class="List-itemName">スターアニス</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">スピノサスモモ</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="レイプシード">
  <div class="List-itemName">セイヨウアブラナ</div>
  <div>2271</div>
</div>
<div class="List-item" data-synonyms="蕎麦,そばの実,そばのみ,ソバ,ソバの実">
  <div class="List-itemName">そば</div>
  <div>3142</div>
</div>
<div class="List-item" data-synonyms="そらまめ,ソラマメ,空豆,ソラ豆">
  <div class="List-itemName">そら豆（乾燥）</div>
  <div>2018</div>
</div>
<div class="List-item" data-synonyms="だいず,ダイズ">
  <div class="List-itemName">大豆</div>
  <div>2145</div>
</div>
<div class="List-item" data-synonyms="だいず,ダイズ">
  <div class="List-itemName">大豆（大豆粉や大豆粕）</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="だいず,ダイズ">
  <div class="List-itemName">大豆（ペースト）</div>
  <div>572</div>
</div>
<div class="List-item" data-synonyms="だいず,ダイズ,だいずあぶら,だいず油,ダイズ油">
  <div class="List-itemName">大豆油</div>
  <div>4190</div>
</div>
<div class="List-item" data-synonyms="煙草,たばこ">
  <div class="List-itemName">タバコ</div>
  <div>2925</div>
</div>
<div class="List-item" data-synonyms="キャッサバ">
  <div class="List-itemName">タピオカ（キャッサバ）</div>
  <div>2818</div>
</div>
<div class="List-item" data-synonyms="ジャガイモ">
  <div class="List-itemName">タピオカ（じゃがいも）</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="卵,玉子,タマゴ">
  <div class="List-itemName">たまご</div>
  <div>3265</div>
</div>
<div class="List-item" data-synonyms="玉ねぎ,たまねぎ">
  <div class="List-itemName">タマネギ（乾燥）</div>
  <div>345</div>
</div>
<div class="List-item" data-synonyms="玉ねぎ,たまねぎ">
  <div class="List-itemName">タマネギ（生）</div>
  <div>272</div>
</div>
<div class="List-item" data-synonyms="タロ芋">
  <div class="List-itemName">タロイモ</div>
  <div>606</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">チーズ</div>
  <div>5060</div>
</div>
<div class="List-item" data-synonyms="ちゃ,チャ,茶の木,おちゃ,お茶,茶の実">
  <div class="List-itemName">茶（緑茶や紅茶）</div>
  <div>8856</div>
</div>
<div class="List-item" data-synonyms="チョコ">
  <div class="List-itemName">チョコレート</div>
  <div>17196</div>
</div>
<div class="List-item" data-synonyms="サトウダイコン,甜菜,ビーツ,砂糖大根,さとうだいこん,てんさい">
  <div class="List-itemName">テンサイ</div>
  <div>132</div>
</div>
<div class="List-item" data-synonyms="ごむ">
  <div class="List-itemName">天然ゴム</div>
  <div>13748</div>
</div>
<div class="List-item" data-synonyms="とうがらし,トウガラシ">
  <div class="List-itemName">唐辛子（乾燥）</div>
  <div>7365</div>
</div>
<div class="List-item" data-synonyms="とうがらし,トウガラシ">
  <div class="List-itemName">唐辛子（生）</div>
  <div>379</div>
</div>
<div class="List-item" data-synonyms="とうごま">
  <div class="List-itemName">トウゴマ</div>
  <div>9896</div>
</div>
<div class="List-item" data-synonyms="とうにゅう">
  <div class="List-itemName">豆乳</div>
  <div>3763</div>
</div>
<div class="List-item" data-synonyms="とうふ,トウフ">
  <div class="List-itemName">豆腐</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="とうもろこし">
  <div class="List-itemName">トウモロコシ</div>
  <div>1222</div>
</div>
<div class="List-item" data-synonyms="とうもろこし">
  <div class="List-itemName">トウモロコシ（生）</div>
  <div>700</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマト</div>
  <div>214</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマト（皮なし）</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマト（乾燥）</div>
  <div>4276</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマトケチャップ</div>
  <div>534</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマトジュース</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマトジュース（濃縮）</div>
  <div>1069</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマトピューレ</div>
  <div>713</div>
</div>
<div class="List-item" data-synonyms="とまと">
  <div class="List-itemName">トマトペースト</div>
  <div>855</div>
</div>
<div class="List-item" data-synonyms="チキン,とり,トリ,ニク,にく,とり肉,トリ肉">
  <div class="List-itemName">鶏肉</div>
  <div>4325</div>
</div>
<div class="List-item" data-synonyms="なし,ナシ">
  <div class="List-itemName">梨</div>
  <div>922</div>
</div>
<div class="List-item" data-synonyms="茄子,なす">
  <div class="List-itemName">ナス</div>
  <div>362</div>
</div>
<div class="List-item" data-synonyms="なたねあぶら,なたねゆ,レイプシードオイル">
  <div class="List-itemName">菜種油</div>
  <div>4301</div>
</div>
<div class="List-item" data-synonyms="棗,デーツ">
  <div class="List-itemName">ナツメ</div>
  <div>2277</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ナツメグ</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="人参,にんじん">
  <div class="List-itemName">ニンジン</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="ガーリック、ニンニク">
  <div class="List-itemName">にんにく</div>
  <div>589</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ネクタリン</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="パームかくゆ">
  <div class="List-itemName">パーム核油</div>
  <div>5401</div>
</div>
<div class="List-item" data-synonyms="パームオイル,パームゆ">
  <div class="List-itemName">パーム油</div>
  <div>4971</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">パイナップル</div>
  <div>255</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">パイナップルジュース</div>
  <div>1273</div>
</div>
<div class="List-item" data-synonyms="ばくが,バクガ">
  <div class="List-itemName">麦芽（焙煎前）</div>
  <div>1950</div>
</div>
<div class="List-item" data-synonyms="ばくが,バクガ">
  <div class="List-itemName">麦芽（焙煎後）</div>
  <div>2437</div>
</div>
<div class="List-item" data-synonyms="ぱすた">
  <div class="List-itemName">パスタ（乾燥）</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">バター</div>
  <div>5553</div>
</div>
<div class="List-item" data-synonyms="ばなな">
  <div class="List-itemName">バナナ</div>
  <div>790</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">バニラビーンズ</div>
  <div>126505</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">パパイヤ</div>
  <div>460</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">パン（小麦）</div>
  <div>1608</div>
</div>
<div class="List-item" data-synonyms="ピーナッツ油">
  <div class="List-itemName">ピーナッツオイル</div>
  <div>7529</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ビール</div>
  <div>298</div>
</div>
<div class="List-item" data-synonyms="ピクルス用キュウリ,">
  <div class="List-itemName">ピクルス用きゅうり</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ピスタチオ</div>
  <div>11363</div>
</div>
<div class="List-item" data-synonyms="ヒマシ油">
  <div class="List-itemName">ひまし油</div>
  <div>24740</div>
</div>
<div class="List-item" data-synonyms="向日葵,ひまわり">
  <div class="List-itemName">ヒマワリ（種子）</div>
  <div>3366</div>
</div>
<div class="List-item" data-synonyms="向日葵油,ひまわり油">
  <div class="List-itemName">ヒマワリ油</div>
  <div>6792</div>
</div>
<div class="List-item" data-synonyms="ヒヨコ豆">
  <div class="List-itemName">ひよこ豆</div>
  <div>4177</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ビンロウジ</div>
  <div>11165</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">フェンネル</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="ブタ,ポーク,ぶた,にく,ニク,ぶた肉,ブタ肉">
  <div class="List-itemName">豚肉</div>
  <div>5988</div>
</div>
<div class="List-item" data-synonyms="葡萄,ブドウ">
  <div class="List-itemName">ぶどう</div>
  <div>608</div>
</div>
<div class="List-item" data-synonyms="干し葡萄,干しブドウ">
  <div class="List-itemName">ぶどう（干しぶどう）</div>
  <div>2433</div>
</div>
<div class="List-item" data-synonyms="葡萄酒,ブドウ酒">
  <div class="List-itemName">ぶどう酒</div>
  <div>869</div>
</div>
<div class="List-item" data-synonyms="セイヨウスモモ">
  <div class="List-itemName">プラム</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ブルーベリー</div>
  <div>845</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ブロッコリー</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ヘーゼルナッツ（殻付き）</div>
  <div>5258</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ヘーゼルナッツ（殻なし）</div>
  <div>10515</div>
</div>
<div class="List-item" data-synonyms="べにばな,紅花,ベニバナ,ベニ花">
  <div class="List-itemName">べに花（種子）</div>
  <div>7221</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ペパーミント</div>
  <div>288</div>
</div>
<div class="List-item" data-synonyms="ホウレンソウ,ホウレン草">
  <div class="List-itemName">ほうれん草</div>
  <div>292</div>
</div>
<div class="List-item" data-synonyms="まりはな">
  <div class="List-itemName">ホップ（毬花）</div>
  <div>4065</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ホップエキス</div>
  <div>16259</div>
</div>
<div class="List-item" data-synonyms="ジャガイモ粉,じゃがいも粉">
  <div class="List-itemName">ポテトフラワー</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="じゃがいもフレーク,ジャガイモ,じゃがいも">
  <div class="List-itemName">ポテトフレーク</div>
  <div>1044</div>
</div>
<div class="List-item" data-synonyms="けし,芥子">
  <div class="List-itemName">ポピーシード</div>
  <div>2188</div>
</div>
<div class="List-item" data-synonyms="からし,辛子">
  <div class="List-itemName">マスタードシード</div>
  <div>2809</div>
</div>
<div class="List-item" data-synonyms="アバカ,マニラアサ">
  <div class="List-itemName">マニラ麻</div>
  <div>22654</div>
</div>
<div class="List-item" data-synonyms="まめ,マメ">
  <div class="List-itemName">豆（乾燥）</div>
  <div>5053</div>
</div>
<div class="List-item" data-synonyms="まめ,マメ">
  <div class="List-itemName">豆（生）</div>
  <div>561</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">マンゴー</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">マンゴスチン</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">マンダリン</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="ミカン,蜜柑,タンジェリン">
  <div class="List-itemName">みかん</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="めキャベツ">
  <div class="List-itemName">芽キャベツ</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="めろん">
  <div class="List-itemName">メロン（種子）</div>
  <div>5184</div>
</div>
<div class="List-item" data-synonyms="めんじつゆ,わた,ワタ">
  <div class="List-itemName">綿実油</div>
  <div>3957</div>
</div>
<div class="List-item" data-synonyms="もも,モモ">
  <div class="List-itemName">桃</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="ソルガム,コーリャン">
  <div class="List-itemName">モロコシ</div>
  <div>3048</div>
</div>
<div class="List-item" data-synonyms="山羊肉,やぎ肉,にく,ニク">
  <div class="List-itemName">ヤギ肉</div>
  <div>5521</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ヤムイモ</div>
  <div>343</div>
</div>
<div class="List-item" data-synonyms="ライむぎ">
  <div class="List-itemName">ライ麦</div>
  <div>1544</div>
</div>
<div class="List-item" data-synonyms="ライむぎ">
  <div class="List-itemName">ライ麦粉</div>
  <div>1930</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">ラズベリー</div>
  <div>413</div>
</div>
<div class="List-item" data-synonyms="ピーナッツ,らっかせい">
  <div class="List-itemName">落花生（殻付き）</div>
  <div>2782</div>
</div>
<div class="List-item" data-synonyms="ピーナッツ,らっかせい">
  <div class="List-itemName">落花生（殻なし）</div>
  <div>3974</div>
</div>
<div class="List-item" data-synonyms="羊肉,にく,ニク,子羊,仔羊">
  <div class="List-itemName">ラム肉</div>
  <div>10412</div>
</div>
<div class="List-item" data-synonyms="リンゴ">
  <div class="List-itemName">りんご（乾燥）</div>
  <div>6847</div>
</div>
<div class="List-item" data-synonyms="リンゴ">
  <div class="List-itemName">りんご（生）</div>
  <div>822</div>
</div>
<div class="List-item" data-synonyms="アップルジュース">
  <div class="List-itemName">りんごジュース</div>
  <div>1141</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">レタス</div>
  <div>237</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">レモンやライム</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="レンティル豆,ヒラマメ">
  <div class="List-itemName">レンズ豆</div>
  <div>5874</div>
</div>
<div class="List-item" data-synonyms="綿布,木綿織,わた, めん,ワタ,メン,もめん,モメン">
  <div class="List-itemName">綿（布）</div>
  <div>9982</div>
</div>
<div class="List-item" data-synonyms="わた, めん,ワタ,メン,もめん,モメン">
  <div class="List-itemName">綿（実綿）</div>
  <div>1332</div>
</div>
<div class="List-item" data-synonyms="コットンリンター,繰屑綿,わた, めん,ワタ,メン,もめん,モメン">
  <div class="List-itemName">綿（リンター）</div>
  <div>2602</div>
</div>
<div class="List-item" data-synonyms="わた, めん,ワタ,メン,コットンリント,繰綿,もめん,モメン">
  <div class="List-itemName">綿（リント）</div>
  <div>9113</div>
</div>