<div class="List-item" data-synonyms="">
  <div class="List-itemName">Абака, волокно</div>
  <div>22 654</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Абрикосы</div>
  <div>1 287</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Авокадо</div>
  <div>1 981</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Агава, волокно</div>
  <div>6 549</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ананасовый сок</div>
  <div>1 273</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ананасы</div>
  <div>255</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Анис</div>
  <div>8 280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Апельсиновый сок</div>
  <div>1 018</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Апельсины</div>
  <div>560</div>
</div>
<div class="List-item" data-synonyms="Земляной орех">
  <div class="List-itemName">Арахис в кожуре</div>
  <div>2 782</div>
</div>
<div class="List-item" data-synonyms="Земляной орех">
  <div class="List-itemName">Арахис чищеный</div>
  <div>3 974</div>
</div>
<div class="List-item" data-synonyms="Масло">
  <div class="List-itemName">Арахисовая паста</div>
  <div>7 529</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Арбуз</div>
  <div>235</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Артишоки</div>
  <div>818</div>
</div>
<div class="List-item" data-synonyms="Анис звездчатый">
  <div class="List-itemName">Бадьян</div>
  <div>8 280</div>
</div>
<div class="List-item" data-synonyms="Паслён темноплодный, бадриджан">
  <div class="List-itemName">Баклажан</div>
  <div>362</div>
</div>
<div class="List-item" data-synonyms="Окра, дамские пальчики, гомбо">
  <div class="List-itemName">Бамия</div>
  <div>576</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Бананы</div>
  <div>790</div>
</div>
<div class="List-item" data-synonyms="Мясо овец, ягнятина">
  <div class="List-itemName">Баранина</div>
  <div>10 412</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Батат</div>
  <div>383</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Бетельный орех</div>
  <div>11 165</div>
</div>
<div class="List-item" data-synonyms="Боб конский">
  <div class="List-itemName">Боб садовый сушёный</div>
  <div>2 018</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Бобы зеленые</div>
  <div>561</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Бобы сушёные</div>
  <div>5 053</div>
</div>
<div class="List-item" data-synonyms="Спаржевая капуста">
  <div class="List-itemName">Брокколи</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Брюссельская капуста</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ваниль</div>
  <div>126 505</div>
</div>
<div class="List-item" data-synonyms="Шампанское">
  <div class="List-itemName">Вино виноградное</div>
  <div>869</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Виноград</div>
  <div>608</div>
</div>
<div class="List-item" data-synonyms="Обыкновенная">
  <div class="List-itemName">Вишня кислая</div>
  <div>1 411</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Гвоздика, пряность</div>
  <div>61 205</div>
</div>
<div class="List-item" data-synonyms="Мясо коровы, cтейк, грудинка, телятина, фарш, котлеты">
  <div class="List-itemName">Говядина</div>
  <div>15 415</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Голубиный горох</div>
  <div>5 494</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Горох зелёный</div>
  <div>595</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Горох сушёный</div>
  <div>1 979</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Горчица, семена</div>
  <div>2 809</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Грейпфрутовый сок</div>
  <div>675</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Грейпфруты</div>
  <div>506</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Грецкий орех в скорлупе</div>
  <div>4 918</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Грецкий орех очищенный</div>
  <div>9 280</div>
</div>
<div class="List-item" data-synonyms="Гречка">
  <div class="List-itemName">Гречневая крупа</div>
  <div>3 142</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Груша</div>
  <div>922</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Гуайява</div>
  <div>1 800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Джут</div>
  <div>2 605</div>
</div>
<div class="List-item" data-synonyms="Спаржевая, зелёная">
  <div class="List-itemName">Зелёностручковая фасоль</div>
  <div>547</div>
</div>
<div class="List-item" data-synonyms="Клубника">
  <div class="List-itemName">Земляника</div>
  <div>347</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Изюм</div>
  <div>2 433</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Имбирь</div>
  <div>1 657</div>
</div>
<div class="List-item" data-synonyms="Фига">
  <div class="List-itemName">Инжир</div>
  <div>3 350</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Какао тёртое</div>
  <div>24 238</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Какао-бобы</div>
  <div>19 928</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Какао-масло и жир</div>
  <div>33 938</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Какао-порошок</div>
  <div>15 636</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Капуста белокочанная</div>
  <div>280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кардамон</div>
  <div>34 319</div>
</div>
<div class="List-item" data-synonyms="Картошка">
  <div class="List-itemName">Картофель</div>
  <div>287</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Картофельная мука</div>
  <div>1 436</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Картофельная тапиока</div>
  <div>1 436</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Картофельные чипсы</div>
  <div>1 044</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Картофельный крахмал</div>
  <div>1 512</div>
</div>
<div class="List-item" data-synonyms="Касторка">
  <div class="List-itemName">Касторовое масло</div>
  <div>24 740</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Каштан, плоды</div>
  <div>2 750</div>
</div>
<div class="List-item" data-synonyms="Орех">
  <div class="List-itemName">Кешью</div>
  <div>14 218</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Киви</div>
  <div>514</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Клементин</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="Касторовое масло">
  <div class="List-itemName">Клещевина, семена</div>
  <div>9 896</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Клюква</div>
  <div>276</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кожа крупного рогатого скота</div>
  <div>17 093</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Козье мясо</div>
  <div>5 521</div>
</div>
<div class="List-item" data-synonyms="Кокосовое волокно">
  <div class="List-itemName">Койр</div>
  <div>2 449</div>
</div>
<div class="List-item" data-synonyms="Копра">
  <div class="List-itemName">Кокосовое масло</div>
  <div>4 490</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кокосы в кожуре</div>
  <div>1 256</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кокосы очищенные</div>
  <div>2 687</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кола, орехи</div>
  <div>23 391</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Конопляные семена</div>
  <div>3 685</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Копра</div>
  <div>2 093</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кориандр</div>
  <div>8 280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кориандр, семена</div>
  <div>8 280</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Корица, пряность</div>
  <div>15 526</div>
</div>
<div class="List-item" data-synonyms="Вигна китайская">
  <div class="List-itemName">Коровий горох</div>
  <div>6 906</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кофе зелёный</div>
  <div>15 897</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кофе обжаренный</div>
  <div>18 925</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Крыжовник, плоды</div>
  <div>526</div>
</div>
<div class="List-item" data-synonyms="Маис">
  <div class="List-itemName">Кукуруза</div>
  <div>1 222</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кукуруза зеленая</div>
  <div>700</div>
</div>
<div class="List-item" data-synonyms="Маис">
  <div class="List-itemName">Кукурузная крупа</div>
  <div>1 081</div>
</div>
<div class="List-item" data-synonyms="Маис">
  <div class="List-itemName">Кукурузная мука</div>
  <div>1 253</div>
</div>
<div class="List-item" data-synonyms="Маис">
  <div class="List-itemName">Кукурузное масло</div>
  <div>2 575</div>
</div>
<div class="List-item" data-synonyms="Маис">
  <div class="List-itemName">Кукурузный крахмал</div>
  <div>1 671</div>
</div>
<div class="List-item" data-synonyms="Сезамовое">
  <div class="List-itemName">Кунжутное масло</div>
  <div>21 793</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Кунжутные семечки</div>
  <div>9 371</div>
</div>
<div class="List-item" data-synonyms="Мясо курицы">
  <div class="List-itemName">Курятина</div>
  <div>4 325</div>
</div>
<div class="List-item" data-synonyms="Горлянка, калабас">
  <div class="List-itemName">Лагенария</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Лайм</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Латук, салат</div>
  <div>237</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Лимоны</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Льняное масло</div>
  <div>9 415</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Лён, волокно</div>
  <div>3 783</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Лён, семена</div>
  <div>5 168</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Мак, семена</div>
  <div>2 188</div>
</div>
<div class="List-item" data-synonyms="Макаронные изделия">
  <div class="List-itemName">Макароны</div>
  <div>1 849</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Малина</div>
  <div>413</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Манго</div>
  <div>1 800</div>
</div>
<div class="List-item" data-synonyms="Мангустин">
  <div class="List-itemName">Мангостан</div>
  <div>1 800</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Мандарины</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Манильская пенька</div>
  <div>20 388</div>
</div>
<div class="List-item" data-synonyms="Кассава">
  <div class="List-itemName">Маниок</div>
  <div>564</div>
</div>
<div class="List-item" data-synonyms="Съедобный, кассава">
  <div class="List-itemName">Маниок сушёный</div>
  <div>1 610</div>
</div>
<div class="List-item" data-synonyms="Кассава">
  <div class="List-itemName">Маниок, крахмал</div>
  <div>2 254</div>
</div>
<div class="List-item" data-synonyms="Кассава">
  <div class="List-itemName">Маниок, мука</div>
  <div>1 878</div>
</div>
<div class="List-item" data-synonyms="Кассава">
  <div class="List-itemName">Маниок, тапиока</div>
  <div>2 818</div>
</div>
<div class="List-item" data-synonyms="Элеис">
  <div class="List-itemName">Масличная пальма</div>
  <div>1 098</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Масло</div>
  <div>5 553</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Миндаль без кожуры</div>
  <div>16 095</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Миндаль в кожуре</div>
  <div>8 047</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Молоко</div>
  <div>1 020</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Молоко сухое</div>
  <div>4 745</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Морковь</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Мускатный орех</div>
  <div>34 319</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Мята перечная</div>
  <div>288</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Нектарины</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="Турецкий орех, бараний горох, шиш">
  <div class="List-itemName">Нут</div>
  <div>4 177</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Овес</div>
  <div>1 788</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Овсяная крупа</div>
  <div>2 536</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Овсяные хлопья</div>
  <div>2 416</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Огурцы</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Оливки</div>
  <div>3 015</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Оливковое масло (virgin)</div>
  <div>14 431</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Оливковое масло очищенное</div>
  <div>14 726</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пальмовое масло</div>
  <div>4 971</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пальмовые ядра и семена</div>
  <div>2 868</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пальмоядровое масло</div>
  <div>5 401</div>
</div>
<div class="List-item" data-synonyms="Дынное дерево">
  <div class="List-itemName">Папайя</div>
  <div>460</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пенька, волокно</div>
  <div>2 447</div>
</div>
<div class="List-item" data-synonyms="Чили, красный, чёрный">
  <div class="List-itemName">Перец свежий</div>
  <div>7 365</div>
</div>
<div class="List-item" data-synonyms="Чили, красный, чёрный">
  <div class="List-itemName">Перец сухой</div>
  <div>379</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Персики</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пиво</div>
  <div>298</div>
</div>
<div class="List-item" data-synonyms="Плантано">
  <div class="List-itemName">Плантан</div>
  <div>1 602</div>
</div>
<div class="List-item" data-synonyms="Семечки">
  <div class="List-itemName">Подсолнечник, семена</div>
  <div>3 366</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Подсолнечное масло</div>
  <div>6 792</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пшеница</div>
  <div>1 827</div>
</div>
<div class="List-item" data-synonyms="Сейтан">
  <div class="List-itemName">Пшеничная клейковина</div>
  <div>4 189</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пшеничная мука</div>
  <div>1 849</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пшеничные отруби</div>
  <div>2 036</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пшеничный крахмал</div>
  <div>1 436</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Пшено</div>
  <div>4 478</div>
</div>
<div class="List-item" data-synonyms="Крапива китайская, бомерия белоснежная">
  <div class="List-itemName">Рами</div>
  <div>4 507</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рапс</div>
  <div>2 271</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рапс, масло</div>
  <div>4 301</div>
</div>
<div class="List-item" data-synonyms="Каучук">
  <div class="List-itemName">Резина натуральная</div>
  <div>13 748</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ржаная мука</div>
  <div>1 930</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рис дроблёный</div>
  <div>2 497</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рис коричневый</div>
  <div>2 172</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рис-сырец</div>
  <div>1 673</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рисовая крупа</div>
  <div>2 230</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рисовая мука</div>
  <div>2 628</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рожковое дерево, бобы</div>
  <div>5 594</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Рожь</div>
  <div>1 544</div>
</div>
<div class="List-item" data-synonyms="Дикий шафран">
  <div class="List-itemName">Сафлор, семена</div>
  <div>7 221</div>
</div>
<div class="List-item" data-synonyms="Рафинированный">
  <div class="List-itemName">Сахар белый</div>
  <div>1 782</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сахар коричневый тростниковый</div>
  <div>865</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сахар нерафинированый свекольный</div>
  <div>1 666</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сахарная свёкла</div>
  <div>132</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сахарный тростник</div>
  <div>210</div>
</div>
<div class="List-item" data-synonyms="Мясо свиней, ветчина, колбаса">
  <div class="List-itemName">Свинина</div>
  <div>5 988</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сизаловое волокно</div>
  <div>7 824</div>
</div>
<div class="List-item" data-synonyms="Агава сизалевая">
  <div class="List-itemName">Сизаль</div>
  <div>7 041</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сливы</div>
  <div>2 180</div>
</div>
<div class="List-item" data-synonyms="Черная, красная, белая">
  <div class="List-itemName">Смородина</div>
  <div>499</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соя, бобы</div>
  <div>2 145</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соевая паста</div>
  <div>572</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соевое масло</div>
  <div>4 190</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соевое молоко</div>
  <div>3 763</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соевый соус</div>
  <div>613</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Солод жареный</div>
  <div>2 437</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Солод нежареный</div>
  <div>1 950</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Солёные огурцы</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сорго</div>
  <div>3 048</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Соевая мука</div>
  <div>2 523</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Спаржа</div>
  <div>2 150</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Сыр</div>
  <div>5 060</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Табак</div>
  <div>2 925</div>
</div>
<div class="List-item" data-synonyms="Колоказия">
  <div class="List-itemName">Таро</div>
  <div>606</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томатная паста</div>
  <div>855</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томатное пюре</div>
  <div>713</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томатный кетчуп</div>
  <div>534</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томатный сок</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томатный сок концентрированный</div>
  <div>1 069</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томаты</div>
  <div>214</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томаты вяленые</div>
  <div>4 276</div>
</div>
<div class="List-item" data-synonyms="Помидоры">
  <div class="List-itemName">Томаты очищенные</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="Соевый творог">
  <div class="List-itemName">Тофу</div>
  <div>2 523</div>
</div>
<div class="List-item" data-synonyms="Меласса, чёрная патока">
  <div class="List-itemName">Тростниковая патока</div>
  <div>527</div>
</div>
<div class="List-item" data-synonyms="Кормовая репа">
  <div class="List-itemName">Турнепс</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Тыква</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Тыквенные семечки</div>
  <div>5 184</div>
</div>
<div class="List-item" data-synonyms="Терновник">
  <div class="List-itemName">Тёрн</div>
  <div>2 180</div>
</div>
<div class="List-item" data-synonyms="Обыкновенный">
  <div class="List-itemName">Фенхель</div>
  <div>8 280</div>
</div>
<div class="List-item" data-synonyms="Пальчатый">
  <div class="List-itemName">Финики</div>
  <div>2 277</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Фисташки</div>
  <div>11 363</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Фруктоза</div>
  <div>1 782</div>
</div>
<div class="List-item" data-synonyms="Лесной орех">
  <div class="List-itemName">Фундук в скорлупе</div>
  <div>5 258</div>
</div>
<div class="List-item" data-synonyms="Лесной орех">
  <div class="List-itemName">Фундук чищеный</div>
  <div>10 515</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хлеб пшеничный</div>
  <div>1 608</div>
</div>
<div class="List-item" data-synonyms="Хлопчатниковое">
  <div class="List-itemName">Хлопковое масло</div>
  <div>3 957</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хлопковое семя</div>
  <div>4 029</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хлопок, семена</div>
  <div>1 332</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хлопок, ткань</div>
  <div>9 982</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хмель, шишки</div>
  <div>4 065</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Хмель, экстракт</div>
  <div>16 259</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Цветная капуста</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Чай, чёрный и зелёный</div>
  <div>8 856</div>
</div>
<div class="List-item" data-synonyms="Вишня">
  <div class="List-itemName">Черешня</div>
  <div>1 604</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Черника</div>
  <div>845</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Чеснок</div>
  <div>589</div>
</div>
<div class="List-item" data-synonyms="Молодой">
  <div class="List-itemName">Чеснок зеленый</div>
  <div>272</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Чеснок сухой</div>
  <div>345</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Чесночный порошок</div>
  <div>2 265</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Чечевица</div>
  <div>5 874</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Шоколад</div>
  <div>17 196</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Шпинат</div>
  <div>292</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Яблоки кешью</div>
  <div>3 793</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Яблоки свежие</div>
  <div>822</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Яблоки сушёные</div>
  <div>6 847</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Яблочный сок</div>
  <div>1 141</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Яйца</div>
  <div>3 265</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ямс</div>
  <div>343</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ячменные хлопья</div>
  <div>1 977</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">Ячмень</div>
  <div>1 423</div>
</div>