<div class="List-item" data-synonyms="茴香，茴芹，大茴香">
  <div class="List-itemName">八角</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="大蕉">
  <div class="List-itemName">芭蕉</div>
  <div>1602</div>
</div>
<div class="List-item" data-synonyms="卷心菜，洋白菜，高丽菜，椰菜，包包菜">
  <div class="List-itemName">白菜</div>
  <div>280</div>
</div>
<div class="List-item" data-synonyms="白糖，精糖，精制糖">
  <div class="List-itemName">白砂糖</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="栗，中国板栗，栗子，毛栗子">
  <div class="List-itemName">板栗</div>
  <div>2750</div>
</div>
<div class="List-item" data-synonyms="香薷，小荆芥">
  <div class="List-itemName">薄荷</div>
  <div>288</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">蓖麻油</div>
  <div>24740</div>
</div>
<div class="List-item" data-synonyms="蓖麻油籽">
  <div class="List-itemName">蓖麻子</div>
  <div>9896</div>
</div>
<div class="List-item" data-synonyms="小扁豆，短豇豆，饭豇豆，短荚豇豆">
  <div class="List-itemName">扁豆</div>
  <div>5874</div>
</div>
<div class="List-item" data-synonyms="榔玉，宾门，青仔">
  <div class="List-itemName">槟榔</div>
  <div>11165</div>
</div>
<div class="List-item" data-synonyms="波斯草">
  <div class="List-itemName">菠菜</div>
  <div>292</div>
</div>
<div class="List-item" data-synonyms="凤梨">
  <div class="List-itemName">菠萝</div>
  <div>255</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">菠萝汁</div>
  <div>1273</div>
</div>
<div class="List-item" data-synonyms="四季豆，豆角">
  <div class="List-itemName">菜豆</div>
  <div>547</div>
</div>
<div class="List-item" data-synonyms="花椰菜，花菜">
  <div class="List-itemName">菜花</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="菜子油，菜籽油">
  <div class="List-itemName">菜油</div>
  <div>4301</div>
</div>
<div class="List-item" data-synonyms="马蚕豆">
  <div class="List-itemName">蚕豆，干</div>
  <div>2018</div>
</div>
<div class="List-item" data-synonyms="洋莓，地莓，地果，红莓，地桃">
  <div class="List-itemName">草莓</div>
  <div>347</div>
</div>
<div class="List-item" data-synonyms="辣子，辣角，牛角椒，红海椒">
  <div class="List-itemName">朝天椒</div>
  <div>7365</div>
</div>
<div class="List-item" data-synonyms="橘汁">
  <div class="List-itemName">橙汁</div>
  <div>1018</div>
</div>
<div class="List-item" data-synonyms="黄果，橙子，金球，金橙">
  <div class="List-itemName">橙子</div>
  <div>560</div>
</div>
<div class="List-item" data-synonyms="红醋栗，穗醋栗，黑醋栗">
  <div class="List-itemName">醋栗</div>
  <div>499</div>
</div>
<div class="List-item" data-synonyms="黄豆">
  <div class="List-itemName">大豆</div>
  <div>2145</div>
</div>
<div class="List-item" data-synonyms="大豆面，大豆末">
  <div class="List-itemName">大豆粉</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="黄豆酱">
  <div class="List-itemName">大豆酱</div>
  <div>572</div>
</div>
<div class="List-item" data-synonyms="黄豆油">
  <div class="List-itemName">大豆油</div>
  <div>4190</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">大麻纤维</div>
  <div>2447</div>
</div>
<div class="List-item" data-synonyms="大麻籽，大麻籽油">
  <div class="List-itemName">大麻种子</div>
  <div>3685</div>
</div>
<div class="List-item" data-synonyms="牟麦，饭麦，赤膊麦">
  <div class="List-itemName">大麦</div>
  <div>1423</div>
</div>
<div class="List-item" data-synonyms="玄米">
  <div class="List-itemName">大米，糙米</div>
  <div>2172</div>
</div>
<div class="List-item" data-synonyms="碎米">
  <div class="List-itemName">大米，米头</div>
  <div>2497</div>
</div>
<div class="List-item" data-synonyms="稻米，稻谷，稻子">
  <div class="List-itemName">大米，水稻</div>
  <div>1673</div>
</div>
<div class="List-item" data-synonyms="粗米粉">
  <div class="List-itemName">大米粉</div>
  <div>2230</div>
</div>
<div class="List-item" data-synonyms="黏米粉，糯米粉">
  <div class="List-itemName">大米细粉</div>
  <div>2628</div>
</div>
<div class="List-item" data-synonyms="蒜，蒜头，独蒜，胡蒜">
  <div class="List-itemName">大蒜</div>
  <div>589</div>
</div>
<div class="List-item" data-synonyms="小鳞茎，丁香粉">
  <div class="List-itemName">丁香</div>
  <div>61205</div>
</div>
<div class="List-item" data-synonyms="白豆腐">
  <div class="List-itemName">豆腐</div>
  <div>2523</div>
</div>
<div class="List-item" data-synonyms="黑豆浆，黄豆浆">
  <div class="List-itemName">豆浆</div>
  <div>3763</div>
</div>
<div class="List-item" data-synonyms="小豆蔻，白豆蔻">
  <div class="List-itemName">豆蔻</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="扁豆，干燥豆">
  <div class="List-itemName">豆子，干</div>
  <div>5053</div>
</div>
<div class="List-item" data-synonyms="绿豆，四季豆">
  <div class="List-itemName">豆子，青</div>
  <div>561</div>
</div>
<div class="List-item" data-synonyms="红醋栗">
  <div class="List-itemName">鹅莓</div>
  <div>526</div>
</div>
<div class="List-item" data-synonyms="西红柿">
  <div class="List-itemName">番茄</div>
  <div>214</div>
</div>
<div class="List-item" data-synonyms="去皮西红柿">
  <div class="List-itemName">番茄，去皮</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="干番茄">
  <div class="List-itemName">番茄干</div>
  <div>4276</div>
</div>
<div class="List-item" data-synonyms="番茄膏，西红柿酱">
  <div class="List-itemName">番茄糊</div>
  <div>855</div>
</div>
<div class="List-item" data-synonyms="蕃茄沙司">
  <div class="List-itemName">番茄酱</div>
  <div>534</div>
</div>
<div class="List-item" data-synonyms="西红柿泥">
  <div class="List-itemName">番茄泥</div>
  <div>713</div>
</div>
<div class="List-item" data-synonyms="西红柿汁">
  <div class="List-itemName">番茄汁</div>
  <div>267</div>
</div>
<div class="List-item" data-synonyms="浓缩西红柿汁">
  <div class="List-itemName">番茄汁，浓缩</div>
  <div>1069</div>
</div>
<div class="List-item" data-synonyms="芭乐，干番石榴">
  <div class="List-itemName">番石榴</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="小圆白菜，小卷心菜，芽卷心菜，芽甘蓝">
  <div class="List-itemName">甘蓝</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="薯蔗，糖蔗，黄皮果蔗">
  <div class="List-itemName">甘蔗</div>
  <div>210</div>
</div>
<div class="List-item" data-synonyms="黄榄，青果，山榄，白榄，红榄，青子，忠果">
  <div class="List-itemName">橄榄</div>
  <div>3015</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">橄榄油</div>
  <div>14726</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">橄榄油，初榨</div>
  <div>14431</div>
</div>
<div class="List-item" data-synonyms="蜀黍，桃黍，木稷，荻粱，乌禾，茭子，名禾">
  <div class="List-itemName">高粱</div>
  <div>3048</div>
</div>
<div class="List-item" data-synonyms="鸽仔豆，凹子豆">
  <div class="List-itemName">鸽豆</div>
  <div>5494</div>
</div>
<div class="List-item" data-synonyms="肉桂">
  <div class="List-itemName">桂皮</div>
  <div>15526</div>
</div>
<div class="List-item" data-synonyms="左旋糖，D-果糖">
  <div class="List-itemName">果糖</div>
  <div>1782</div>
</div>
<div class="List-item" data-synonyms="有壳核桃，青核桃">
  <div class="List-itemName">核桃，带壳</div>
  <div>4918</div>
</div>
<div class="List-item" data-synonyms="去皮核桃，核桃仁">
  <div class="List-itemName">核桃，去壳</div>
  <div>9280</div>
</div>
<div class="List-item" data-synonyms="裸麦">
  <div class="List-itemName">黑麦</div>
  <div>1544</div>
</div>
<div class="List-item" data-synonyms="黑麦面粉，裸麦面粉，裸麦粉">
  <div class="List-itemName">黑麦粉</div>
  <div>1930</div>
</div>
<div class="List-item" data-synonyms="红花籽">
  <div class="List-itemName">红花子</div>
  <div>7221</div>
</div>
<div class="List-item" data-synonyms="地瓜，山芋，红苕，甜薯白薯，番芋">
  <div class="List-itemName">红薯</div>
  <div>383</div>
</div>
<div class="List-item" data-synonyms="枣子，大枣，大甜枣">
  <div class="List-itemName">红枣</div>
  <div>2277</div>
</div>
<div class="List-item" data-synonyms="黄萝卜，番萝卜，丁香萝卜，小人参">
  <div class="List-itemName">胡萝卜</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="八角茴香">
  <div class="List-itemName">胡荽子</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="葫芦壳，抽葫芦，壶芦，蒲芦">
  <div class="List-itemName">葫芦</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="有壳花生">
  <div class="List-itemName">花生，带壳</div>
  <div>2782</div>
</div>
<div class="List-item" data-synonyms="无壳花生">
  <div class="List-itemName">花生，脱壳</div>
  <div>3974</div>
</div>
<div class="List-item" data-synonyms="落花生油">
  <div class="List-itemName">花生油</div>
  <div>7529</div>
</div>
<div class="List-item" data-synonyms="胡瓜，刺瓜，王瓜，勤瓜，青瓜，唐瓜，吊瓜">
  <div class="List-itemName">黄瓜</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="野黄麻，苦麻叶，络麻，火麻，牛泥刺">
  <div class="List-itemName">黄麻</div>
  <div>2605</div>
</div>
<div class="List-item" data-synonyms="乳脂，白脱油">
  <div class="List-itemName">黄油</div>
  <div>5553</div>
</div>
<div class="List-item" data-synonyms="藏茴香，安启，印度小茴香">
  <div class="List-itemName">茴香</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="蛋子，蛋">
  <div class="List-itemName">鸡蛋</div>
  <div>3265</div>
</div>
<div class="List-item" data-synonyms="鸡脯肉，鸡胸肉">
  <div class="List-itemName">鸡肉</div>
  <div>4325</div>
</div>
<div class="List-item" data-synonyms="菠萝麻">
  <div class="List-itemName">剑麻</div>
  <div>7041</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">剑麻纤维</div>
  <div>7824</div>
</div>
<div class="List-item" data-synonyms="生姜，姜根，百辣云">
  <div class="List-itemName">姜</div>
  <div>1657</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">豇豆，干</div>
  <div>6906</div>
</div>
<div class="List-item" data-synonyms="豉油">
  <div class="List-itemName">酱油</div>
  <div>613</div>
</div>
<div class="List-item" data-synonyms="马尼拉麻，吕宋麻">
  <div class="List-itemName">蕉麻纤维</div>
  <div>22654</div>
</div>
<div class="List-item" data-synonyms="长豆角，长子豆">
  <div class="List-itemName">角豆</div>
  <div>5594</div>
</div>
<div class="List-item" data-synonyms="芥末籽，芥末子">
  <div class="List-itemName">芥菜籽</div>
  <div>2809</div>
</div>
<div class="List-item" data-synonyms="桔子，柑橘，宽皮橘，蜜橘，黄橘，红橘，大红蜜橘，脐橙">
  <div class="List-itemName">橘子</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="烤制咖啡，焙炒咖啡">
  <div class="List-itemName">咖啡，炒</div>
  <div>18925</div>
</div>
<div class="List-item" data-synonyms="绿咖啡，生咖啡豆">
  <div class="List-itemName">咖啡，生</div>
  <div>15897</div>
</div>
<div class="List-item" data-synonyms="无名子，阿月浑子">
  <div class="List-itemName">开心果</div>
  <div>11363</div>
</div>
<div class="List-item" data-synonyms="咖啡豆">
  <div class="List-itemName">可可豆</div>
  <div>19928</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">可可粉</div>
  <div>15636</div>
</div>
<div class="List-item" data-synonyms="可可糊">
  <div class="List-itemName">可可膏</div>
  <div>24238</div>
</div>
<div class="List-item" data-synonyms="可可油">
  <div class="List-itemName">可可脂</div>
  <div>33938</div>
</div>
<div class="List-item" data-synonyms="可乐豆">
  <div class="List-itemName">可乐果</div>
  <div>23391</div>
</div>
<div class="List-item" data-synonyms="向日葵子，葵花子">
  <div class="List-itemName">葵花籽</div>
  <div>3366</div>
</div>
<div class="List-item" data-synonyms="向日葵籽油，葵花油">
  <div class="List-itemName">葵花籽油</div>
  <div>6792</div>
</div>
<div class="List-item" data-synonyms="蓝梅，笃斯，笃柿，嘟嗜，都柿，甸果">
  <div class="List-itemName">蓝莓</div>
  <div>845</div>
</div>
<div class="List-item" data-synonyms="梨子，黄梨，脆梨">
  <div class="List-itemName">梨</div>
  <div>922</div>
</div>
<div class="List-item" data-synonyms="红李，秋根李，鸡血李，山李子">
  <div class="List-itemName">李子</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="龙舌兰草，龙舌掌，番麻，万年兰，百年草">
  <div class="List-itemName">龙舌兰纤维</div>
  <div>6549</div>
</div>
<div class="List-item" data-synonyms="蜜柑">
  <div class="List-itemName">芦柑</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="石刁柏，龙须菜">
  <div class="List-itemName">芦笋</div>
  <div>2150</div>
</div>
<div class="List-item" data-synonyms="白萝卜，红萝卜，罗服，荠根，萝欠，芦菔，萝白">
  <div class="List-itemName">萝卜</div>
  <div>195</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">绿茶与红茶</div>
  <div>8856</div>
</div>
<div class="List-item" data-synonyms="蕉麻">
  <div class="List-itemName">马尼拉纤维</div>
  <div>20388</div>
</div>
<div class="List-item" data-synonyms="大麦片">
  <div class="List-itemName">麦片</div>
  <div>1977</div>
</div>
<div class="List-item" data-synonyms="炒麦芽，烘烤麦芽">
  <div class="List-itemName">麦芽，烤</div>
  <div>2437</div>
</div>
<div class="List-item" data-synonyms="未烤麦芽">
  <div class="List-itemName">麦芽，生</div>
  <div>1950</div>
</div>
<div class="List-item" data-synonyms="小红莓">
  <div class="List-itemName">蔓越莓</div>
  <div>276</div>
</div>
<div class="List-item" data-synonyms="檬果，杧果">
  <div class="List-itemName">芒果</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="奇异果，阳桃，羊桃， 狐狸桃，野梨，藤梨，猴仔梨">
  <div class="List-itemName">猕猴桃</div>
  <div>514</div>
</div>
<div class="List-item" data-synonyms="棉绒">
  <div class="List-itemName">棉短绒</div>
  <div>2602</div>
</div>
<div class="List-item" data-synonyms="棉籽，棉子，棉籽仁">
  <div class="List-itemName">棉花籽</div>
  <div>1332</div>
</div>
<div class="List-item" data-synonyms="皮棉，棉籽绒">
  <div class="List-itemName">棉绒</div>
  <div>9113</div>
</div>
<div class="List-item" data-synonyms="棉布，棉纤维">
  <div class="List-itemName">棉织物</div>
  <div>9982</div>
</div>
<div class="List-item" data-synonyms="棉籽油，棉花籽油">
  <div class="List-itemName">棉子油</div>
  <div>3957</div>
</div>
<div class="List-item" data-synonyms="干意面，干意大利面">
  <div class="List-itemName">面条，干</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="番瓜，万寿果，木梨，铁脚梨，文冠果，木冬瓜，乳瓜，蓬生果">
  <div class="List-itemName">木瓜</div>
  <div>460</div>
</div>
<div class="List-item" data-synonyms="木薯粉，树薯，树薯粉">
  <div class="List-itemName">木薯</div>
  <div>564</div>
</div>
<div class="List-item" data-synonyms="树薯">
  <div class="List-itemName">木薯</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="树薯粉">
  <div class="List-itemName">木薯淀粉</div>
  <div>2254</div>
</div>
<div class="List-item" data-synonyms="木薯块根，树薯粉">
  <div class="List-itemName">木薯粉</div>
  <div>2818</div>
</div>
<div class="List-item" data-synonyms="树薯干">
  <div class="List-itemName">木薯干</div>
  <div>1610</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">木薯细粉</div>
  <div>1878</div>
</div>
<div class="List-item" data-synonyms="乳粉">
  <div class="List-itemName">奶粉</div>
  <div>4745</div>
</div>
<div class="List-item" data-synonyms="芝士，起士，起司，干酪">
  <div class="List-itemName">奶酪</div>
  <div>5060</div>
</div>
<div class="List-item" data-synonyms="番瓜，北瓜，饭瓜，番南瓜，方瓜，麦瓜，倭瓜，金金瓜，吊瓜">
  <div class="List-itemName">南瓜</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="酸黄瓜，咸青瓜">
  <div class="List-itemName">嫩黄瓜</div>
  <div>353</div>
</div>
<div class="List-item" data-synonyms="青柠，檬子">
  <div class="List-itemName">柠檬与酸橙</div>
  <div>642</div>
</div>
<div class="List-item" data-synonyms="牛生乳">
  <div class="List-itemName">牛奶</div>
  <div>1020</div>
</div>
<div class="List-item" data-synonyms="牛皮革，皮革">
  <div class="List-itemName">牛皮</div>
  <div>17093</div>
</div>
<div class="List-item" data-synonyms="牛排，小牛肉">
  <div class="List-itemName">牛肉</div>
  <div>15415</div>
</div>
<div class="List-item" data-synonyms="鳄梨">
  <div class="List-itemName">牛油果</div>
  <div>1981</div>
</div>
<div class="List-item" data-synonyms="全麦芽啤酒">
  <div class="List-itemName">啤酒，麦芽</div>
  <div>298</div>
</div>
<div class="List-item" data-synonyms="蛇麻球果">
  <div class="List-itemName">啤酒花球果</div>
  <div>4065</div>
</div>
<div class="List-item" data-synonyms="啤酒花浸膏，啤酒花萃，蛇麻草萃取物">
  <div class="List-itemName">啤酒花提取物</div>
  <div>16259</div>
</div>
<div class="List-item" data-synonyms="新鲜苹果，红苹果，绿苹果">
  <div class="List-itemName">苹果</div>
  <div>822</div>
</div>
<div class="List-item" data-synonyms="干苹果">
  <div class="List-itemName">苹果干</div>
  <div>6847</div>
</div>
<div class="List-item" data-synonyms="鲜榨苹果汁，苹果原汁">
  <div class="List-itemName">苹果汁</div>
  <div>1141</div>
</div>
<div class="List-item" data-synonyms="提子，蒲桃，草龙珠，山葫芦，李桃">
  <div class="List-itemName">葡萄</div>
  <div>608</div>
</div>
<div class="List-item" data-synonyms="青葡萄干，绿葡萄干">
  <div class="List-itemName">葡萄干</div>
  <div>2433</div>
</div>
<div class="List-item" data-synonyms="红葡萄酒，白葡萄酒">
  <div class="List-itemName">葡萄酒</div>
  <div>869</div>
</div>
<div class="List-item" data-synonyms="甜荞，乌麦，三角麦，花荞，荞子">
  <div class="List-itemName">荞麦</div>
  <div>3142</div>
</div>
<div class="List-item" data-synonyms="朱古力">
  <div class="List-itemName">巧克力</div>
  <div>17196</div>
</div>
<div class="List-item" data-synonyms="茄，矮瓜，吊菜子，落苏，紫茄，白茄">
  <div class="List-itemName">茄子</div>
  <div>362</div>
</div>
<div class="List-item" data-synonyms="大葱，葱，四季葱">
  <div class="List-itemName">青葱</div>
  <div>272</div>
</div>
<div class="List-item" data-synonyms="甜椒，灯笼椒，青辣椒，绿辣椒">
  <div class="List-itemName">青椒</div>
  <div>379</div>
</div>
<div class="List-item" data-synonyms="羊角豆，糊麻，秋葵，补肾菜，黄秋葵">
  <div class="List-itemName">秋葵</div>
  <div>576</div>
</div>
<div class="List-item" data-synonyms="肉果，玉果">
  <div class="List-itemName">肉豆蔻</div>
  <div>34319</div>
</div>
<div class="List-item" data-synonyms="羊排，小山羊肉">
  <div class="List-itemName">山羊肉</div>
  <div>5521</div>
</div>
<div class="List-item" data-synonyms="山芋，洋芋">
  <div class="List-itemName">山药</div>
  <div>343</div>
</div>
<div class="List-item" data-synonyms="山竺，山竹子，夫妻果">
  <div class="List-itemName">山竹</div>
  <div>1800</div>
</div>
<div class="List-item" data-synonyms="鹅仔菜，莴仔菜，唛仔菜">
  <div class="List-itemName">生菜</div>
  <div>237</div>
</div>
<div class="List-item" data-synonyms="覆盆，黑刺莓，木莓">
  <div class="List-itemName">树莓</div>
  <div>413</div>
</div>
<div class="List-item" data-synonyms="欧洲酸樱桃">
  <div class="List-itemName">酸樱桃</div>
  <div>1411</div>
</div>
<div class="List-item" data-synonyms="大蒜粉">
  <div class="List-itemName">蒜粉</div>
  <div>2265</div>
</div>
<div class="List-item" data-synonyms="鲜桃，白桃，毛果子，山桃">
  <div class="List-itemName">桃子</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">天然橡胶</div>
  <div>13748</div>
</div>
<div class="List-item" data-synonyms="红甜菜，菾菜，红菜头">
  <div class="List-itemName">甜菜</div>
  <div>865</div>
</div>
<div class="List-item" data-synonyms="甜菜根，甜菜头，红菜头">
  <div class="List-itemName">甜菜</div>
  <div>132</div>
</div>
<div class="List-item" data-synonyms="洋芋，荷兰薯，地蛋，薯仔，荷兰薯，番仔薯">
  <div class="List-itemName">土豆</div>
  <div>287</div>
</div>
<div class="List-item" data-synonyms="马铃薯淀粉，太白粉，生粉">
  <div class="List-itemName">土豆淀粉</div>
  <div>1512</div>
</div>
<div class="List-item" data-synonyms="洋芋粉，马铃薯粉">
  <div class="List-itemName">土豆粉</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="洋芋片，马铃薯片，马铃薯薄片">
  <div class="List-itemName">土豆片</div>
  <div>1044</div>
</div>
<div class="List-item" data-synonyms="干豆">
  <div class="List-itemName">豌豆，干</div>
  <div>1979</div>
</div>
<div class="List-item" data-synonyms="绿豌豆，青豌豆">
  <div class="List-itemName">豌豆，青</div>
  <div>595</div>
</div>
<div class="List-item" data-synonyms="阿驲，阿驿，映日果，蜜果，文仙果，奶浆果，品仙果">
  <div class="List-itemName">无花果</div>
  <div>3350</div>
</div>
<div class="List-item" data-synonyms="夏瓜，寒瓜">
  <div class="List-itemName">西瓜</div>
  <div>235</div>
</div>
<div class="List-item" data-synonyms="西瓜种子；哈密瓜籽">
  <div class="List-itemName">西瓜籽</div>
  <div>5184</div>
</div>
<div class="List-item" data-synonyms="白瓜，小瓜，菜瓜，熏瓜">
  <div class="List-itemName">西葫芦</div>
  <div>336</div>
</div>
<div class="List-item" data-synonyms="绿花菜，绿菜花，青花菜，绿花椰菜，美国花菜">
  <div class="List-itemName">西兰花</div>
  <div>285</div>
</div>
<div class="List-item" data-synonyms="芫荽，假苏，姜芥，罗勒，香草">
  <div class="List-itemName">香菜</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="芫荽籽，芫茜籽">
  <div class="List-itemName">香菜籽</div>
  <div>8280</div>
</div>
<div class="List-item" data-synonyms="荚兰豆，香荚兰">
  <div class="List-itemName">香草豆</div>
  <div>126505</div>
</div>
<div class="List-item" data-synonyms="甘蕉，芎蕉，香牙蕉，蕉子，蕉果">
  <div class="List-itemName">香蕉</div>
  <div>790</div>
</div>
<div class="List-item" data-synonyms="克莱门柑橘，克莱门氏小柑橘">
  <div class="List-itemName">小柑橘</div>
  <div>748</div>
</div>
<div class="List-item" data-synonyms="麦子，冬小麦，粮食">
  <div class="List-itemName">小麦</div>
  <div>1827</div>
</div>
<div class="List-item" data-synonyms="澄面，小麦粉，小麦澄面">
  <div class="List-itemName">小麦淀粉</div>
  <div>1436</div>
</div>
<div class="List-item" data-synonyms="小麦面粉，全麦粉">
  <div class="List-itemName">小麦粉</div>
  <div>1849</div>
</div>
<div class="List-item" data-synonyms="面筋，小麦面筋">
  <div class="List-itemName">小麦麸</div>
  <div>4189</div>
</div>
<div class="List-item" data-synonyms="小麦颗粒">
  <div class="List-itemName">小麦粒</div>
  <div>2036</div>
</div>
<div class="List-item" data-synonyms="全麦面包">
  <div class="List-itemName">小麦面包</div>
  <div>1608</div>
</div>
<div class="List-item" data-synonyms="谷子">
  <div class="List-itemName">小米</div>
  <div>4478</div>
</div>
<div class="List-item" data-synonyms="去壳杏仁，无壳杏仁">
  <div class="List-itemName">杏仁，剥壳</div>
  <div>16095</div>
</div>
<div class="List-item" data-synonyms="有壳杏仁">
  <div class="List-itemName">杏仁，带壳</div>
  <div>8047</div>
</div>
<div class="List-item" data-synonyms="杏，杏桃">
  <div class="List-itemName">杏子</div>
  <div>1287</div>
</div>
<div class="List-item" data-synonyms="胡麻纤维">
  <div class="List-itemName">亚麻纤维</div>
  <div>3783</div>
</div>
<div class="List-item" data-synonyms="亚麻子">
  <div class="List-itemName">亚麻籽</div>
  <div>5168</div>
</div>
<div class="List-item" data-synonyms="亚麻油">
  <div class="List-itemName">亚麻籽油</div>
  <div>9415</div>
</div>
<div class="List-item" data-synonyms="烟叶，烟丝">
  <div class="List-itemName">烟草</div>
  <div>2925</div>
</div>
<div class="List-item" data-synonyms="皮燕麦，雀麦，野麦子">
  <div class="List-itemName">燕麦</div>
  <div>1788</div>
</div>
<div class="List-item" data-synonyms="燕麦">
  <div class="List-itemName">燕麦粉</div>
  <div>2536</div>
</div>
<div class="List-item" data-synonyms="麦片">
  <div class="List-itemName">燕麦片</div>
  <div>2416</div>
</div>
<div class="List-item" data-synonyms="羊腿，羊排">
  <div class="List-itemName">羊肉</div>
  <div>10412</div>
</div>
<div class="List-item" data-synonyms="球葱，圆葱，玉葱，荷兰葱">
  <div class="List-itemName">洋葱</div>
  <div>345</div>
</div>
<div class="List-item" data-synonyms="朝鲜蓟">
  <div class="List-itemName">洋蓟</div>
  <div>818</div>
</div>
<div class="List-item" data-synonyms="鸡腰果、介寿果">
  <div class="List-itemName">腰果</div>
  <div>14218</div>
</div>
<div class="List-item" data-synonyms="腰果苹果，腰果梨">
  <div class="List-itemName">腰苹果</div>
  <div>3793</div>
</div>
<div class="List-item" data-synonyms="椰仁干，干椰子肉">
  <div class="List-itemName">椰肉</div>
  <div>2093</div>
</div>
<div class="List-item" data-synonyms="胥余，越王头，椰瓢，大椰">
  <div class="List-itemName">椰子，脱壳</div>
  <div>2687</div>
</div>
<div class="List-item" data-synonyms="有壳椰子">
  <div class="List-itemName">椰子，带壳</div>
  <div>1256</div>
</div>
<div class="List-item" data-synonyms="椰子纤维，椰皮纤维，椰子壳粗纤维">
  <div class="List-itemName">椰壳纤维</div>
  <div>2449</div>
</div>
<div class="List-item" data-synonyms="椰油">
  <div class="List-itemName">椰子油</div>
  <div>4490</div>
</div>
<div class="List-item" data-synonyms="黑刺李，梨果">
  <div class="List-itemName">野梅</div>
  <div>2180</div>
</div>
<div class="List-item" data-synonyms="罂粟子，罂粟种子">
  <div class="List-itemName">罂粟籽</div>
  <div>2188</div>
</div>
<div class="List-item" data-synonyms="车厘子，莺桃，荆桃，楔桃，英桃，牛桃，樱珠，含桃，樱珠">
  <div class="List-itemName">樱桃</div>
  <div>1604</div>
</div>
<div class="List-item" data-synonyms="小叶鹰嘴豆，回回豆">
  <div class="List-itemName">鹰嘴豆</div>
  <div>4177</div>
</div>
<div class="List-item" data-synonyms="油菜花籽，油菜籽油">
  <div class="List-itemName">油菜籽</div>
  <div>2271</div>
</div>
<div class="List-item" data-synonyms="千年红">
  <div class="List-itemName">油桃</div>
  <div>910</div>
</div>
<div class="List-item" data-synonyms="油椰子，油棕">
  <div class="List-itemName">油椰</div>
  <div>1098</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">柚汁</div>
  <div>675</div>
</div>
<div class="List-item" data-synonyms="葡萄柚，西柚">
  <div class="List-itemName">柚子</div>
  <div>506</div>
</div>
<div class="List-item" data-synonyms="包谷，包芦，苞米，棒子，粟米，玉蜀黍，玉茭，玉麦">
  <div class="List-itemName">玉米</div>
  <div>1222</div>
</div>
<div class="List-item" data-synonyms="玉米，甜玉米，糯玉米">
  <div class="List-itemName">玉米，青</div>
  <div>700</div>
</div>
<div class="List-item" data-synonyms="玉米粉，苞谷淀粉">
  <div class="List-itemName">玉米淀粉</div>
  <div>1671</div>
</div>
<div class="List-item" data-synonyms="包谷粉">
  <div class="List-itemName">玉米粉</div>
  <div>1253</div>
</div>
<div class="List-item" data-synonyms="玉米">
  <div class="List-itemName">玉米粒</div>
  <div>1081</div>
</div>
<div class="List-item" data-synonyms="玉米">
  <div class="List-itemName">玉米油</div>
  <div>2575</div>
</div>
<div class="List-item" data-synonyms="大芋头，芋头">
  <div class="List-itemName">芋艿</div>
  <div>606</div>
</div>
<div class="List-item" data-synonyms="粗糖，红糖，原蔗糖">
  <div class="List-itemName">原糖</div>
  <div>1666</div>
</div>
<div class="List-item" data-synonyms="甘蔗糖蜜">
  <div class="List-itemName">蔗糖蜜</div>
  <div>527</div>
</div>
<div class="List-item" data-synonyms="有壳榛子">
  <div class="List-itemName">榛子，带壳</div>
  <div>5258</div>
</div>
<div class="List-item" data-synonyms="无壳榛子">
  <div class="List-itemName">榛子，去壳</div>
  <div>10515</div>
</div>
<div class="List-item" data-synonyms="香油，胡麻油">
  <div class="List-itemName">芝麻油</div>
  <div>21793</div>
</div>
<div class="List-item" data-synonyms="胡麻仁，黑芝麻，芝麻种子">
  <div class="List-itemName">芝麻籽</div>
  <div>9371</div>
</div>
<div class="List-item" data-synonyms="猪排，猪腿，猪蹄">
  <div class="List-itemName">猪肉</div>
  <div>5988</div>
</div>
<div class="List-item" data-synonyms="野麻，野苎麻，家麻，苎仔，青麻，白麻">
  <div class="List-itemName">苎麻</div>
  <div>4507</div>
</div>
<div class="List-item" data-synonyms="原棉">
  <div class="List-itemName">籽棉</div>
  <div>4029</div>
</div>
<div class="List-item" data-synonyms="棕榈果仁">
  <div class="List-itemName">棕榈果</div>
  <div>2868</div>
</div>
<div class="List-item" data-synonyms="棕榈核油，棕榈核仁油">
  <div class="List-itemName">棕榈仁油</div>
  <div>5401</div>
</div>
<div class="List-item" data-synonyms="">
  <div class="List-itemName">棕榈油</div>
  <div>4971</div>
</div>