* { box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }
body {
  color: $shade100;
  background-color: $shade10;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  font-size: 17px;
  word-wrap: break-word;
}

b {
  font-weight: 600;
}

a {
  color: $linkColor;
  text-decoration: underline;
}

p { line-height: 1.4; }
